<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="IocAction" class="com.ylisoftware.action.IocAction">
        <property name="iocService">
            <bean class="com.ylisoftware.service.IocService"></bean>
        </property>
    </bean>
    <bean id="iocService" class="com.ylisoftware.service.IocService">

    </bean>
</beans>